<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"/>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="uk-container">
			<div class="uk-card uk-card-body">
				<div class="uk-card-badge uk-label">test</div>
				<h3 class="uk-card-title">pokemon</h3>
				<div id="name">test</div>
				<div id="id"></div>
				<div id="height"></div>
				<div id="weight"></div>
				<div id="type"></div>
				<img id="image" src="" alt="" srcset="">
			</div>
		</div>

		<script src="script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
	</body>
</html>
